<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeVinos</title>
    <link rel="stylesheet" href="/CSS/detalhes-style.css" type="text/css" media="all">
</head>
<body>
    <header>
           <h1>Sejam bem-vindos ao DeVinos!</h1>
           <a href="/" >Inicio</a>
    </header>
    <main>
                  <img src="<%= vinho.img %>"/>
        <div >
                  <h2><%= vinho.nome %></h2>
                  <p><%= vinho.pais %></p>
                  <p>Cor: <%= vinho.cor %></p>
                  <p>Tipo de uva: <%= vinho.uva %> m</p>
                  <p>Teor alcoolico: <%= vinho.teor %> kg</p>
                  <p>Classificacao: <%= vinho.classificacao %></p>
                  <p>Harmonizaçao: <%= vinho.harmonizacao %></p>
                  <p>Descriçao: <%= vinho.descricao %></p>
         </div>
              <div id="butoes">
                  <a class="butoes" href="/editar/<%= vinho.id %>" method="post">Editar</a>
                  <a class="butoes" href="/deletar/<%= vinho.id %>" method="post">Deletar</a>
              </div>
    </main>    

    <footer>
       @ DeVinos. All rights reserved. 
    </footer>
    <script src="/JS/index.js"></script>
</body>
</html>
