<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="/CSS/editar.css" type="text/css" media="all">
</head>
<body>
    <% if(message != "") { %>
        <section class="mensagem">
          <p><%= message %></p>
          <span class="close">&times;</span>
        </section>
        <% } %>
    <header>
            <h1>Seja bem-vindo ao DeVinos!</h1>
            <a href="/detalhes/<%= vinho.id %>" target="_self">Voltar</a>
     </header>
    <main>
        <section id="editar">
            <h2>Editando o vinho <%= vinho.nome%> </h2>
            <form id="form" action="/editar/<%= vinho.id %>" method="post">

                <label for="nome">Nome do vinho</label>
                <input id="imp nome" type="text" name="nome" value="<%= vinho.nome %>" required/>

                <label for="pais">País de origem do vinho</label>
                <input id="imp pais" type="text" name="pais" value="<%= vinho.pais %>" required/>

                <label for="cor">Tipo do vinho</label>
                <input id="imp cor" type="text" name="cor" value="<%= vinho.cor %>" required/>

                <label for="uva">Tipo de uva</label>
                <input id="imp uva" type="text" name="uva" value="<%= vinho.uva %>" required/>

                <label for="teor">Teor alcóolico</label>
                <input id="imp teor" type="text" name="teor"  value="<%= vinho.teor %>"required/>

                <label for="classificacao">Classificação do vinho</label>
                <input id="imp classificacao" type="text" name="classificacao"  value="<%= vinho.classificacao %>" required/>

                <label for="harmonizacao">Harmonização</label>
                <input id="imp harmonizacao" type="text" name="harmonizacao"  value="<%= vinho.harmonizacao %>" required/>

                <label for="descricao">Uma breve descrição sobre o vinho</label>
                <input id="imp descricao" type="text" name="descricao" value="<%= vinho.descricao %>" required/>

                <label for="img">Link para uma imagem do vinho</label>
                <input id="imp img" type="link" name="img" value="<%= vinho.img %>" required />;

                <a href="/detalhes/<%= vinho.id %>" class="btn">Cancelar</a>
                <Button type="submit" class="btn">Editar e salvar</Button>
            </form>
        </section>
    </main>
    <footer>
        @ DeVinos. All rights reserved 
    </footer>
</body>
<script src="/JS/index.js"></script>
</html>
